@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&family=Red+Hat+Display:wght@700&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  height:100vh;
  background-image: url(img/slider5.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
header{
  position: fixed;
  width: 100%;
  top:0;
  right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:18px 50px;
}
.logo img{
  width: 150px;
  height: auto;
}
.nav{
  display: flex;
  align-items: center;
}
.nav a{
  color: #fff;
  font-size: 14px;
  padding: 4px 5px;
  margin: 0 22px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: all .42s;
}
.nav a:hover{
  color: #D3D3D3;
  border-bottom: 2px solid #fff;
}
#menu-box{
  color:#fff;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.home-btn{
  display:inline-block;
  color:#fff;
  text-transform: uppercase;
  border:2px solid #CE1B41;
  background-color: #CE1B41;
  padding: 10px 25px;
  border-radius: 30px;
  transition: all .42s;
}
.home-btn:hover{
  background-color: transparent;
  border: 2px solid #fff;
}

section{
  padding:0 10%;

}
.home{
  /* width: 100%;
  height: 100vh;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  align-items: center; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.home-text h4{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
}
.home-text h1{
  font-size: 47px;
  text-transform: uppercase;
  color:#fff;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 28px;
  margin-bottom: 20px;
}
.home-text p{
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  max-width: 460px;
  line-height: 28px;
  margin-bottom: 20px;

}

.home-text span{
  font-weight: bold;

}

.home-inp input:first-child{
  display: inline-block;
  width: 85%;
  outline: none;
  padding: 16px 100px 15px 16px;
  border: 2px solid #CE1B41;
  border-radius: 30px;
}
.home-inp input:last-child{
  position: absolute;
  display:inline-flex;
  border: none;
  background-color: #152f5d;
  color:#fff;
  text-transform:capitalize;
  font-size: 15px;
  padding: 16px 40px;
  border-radius: 30px;
  cursor:pointer;

}
.right{
  position: absolute;
  top:70%;
  right:-150px;
  padding: 0 5%;
  transform: rotate(90deg)
} 

